<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop: true}"></ngx-loading>
<div class="row">
    <div class="col-sm-12">

        <!-- Form wizard with validation card start -->
        <div class="card">
            <div class="card-header">
                <h4 style="font-weight: bold;">Başvuru Adımları</h4>
                <div class="card-header-right"> <i class="icofont icofont-spinner-alt-5"></i> </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div id="wizard">
                            <div class="multi-step-sign-up">
                                <div id="msform">
                                    <div id="progressbar">
                                        <form-wizard (onStepChanged)="onStepChanged($event)" #wizardComponent>
                                            <!--[isValid]="step1Form.form.valid"-->
                                            <wizard-step [title]="'Kişi Bilgileri'" [isValid]="step1Submitted" [previousValue]="previousValueStep" [nextValue]="nextValueSteps1" (onNext)="onStep1Next( $event)">
                                                <fieldset class="wizard-fielset">
                                                    <img class="logo" src="assets/images/users_2.png" alt="logo.png">
                                                    <h2 class="fs-title">Kişi Bilgileri</h2>
                                                    <h3 class="fs-subtitle">Aşağıdak Bilgileri Doldurunuz</h3>
                                                    <form [formGroup]="step1Form">
                                                        <div class="row form-group">
                                                            <div class="col-sm-2">
                                                                <label class="col-form-label">T.C. Kimlik Numarası</label>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <input type="text" formControlName="identityNumber" class="form-control autonumber input-control" name="identityNumber" currencyMask [(ngModel)]="identityNumber" maxlength="11" minlength="11" placeholder="T.C. Kimlik Numarası" [options]="{ prefix: '', thousands: '', decimal: '', align: 'left', allowZero: false }">
                                                                <div class="messages text-danger error label-control" *ngIf="!step1Form.controls.identityNumber.valid">T.C. kimlik numarası giriniz!</div>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-2">
                                                                <label class="col-form-label">Cep Telefonu</label>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <input id="1" name="phoneNumber" formControlName="phoneNumber" [(ngModel)]="phoneNumber" [textMask]="{mask: mask}" type="text" class="form-control input-control" placeholder="Cep Telefonu" />
                                                                <div class="messages text-danger error label-control" *ngIf="step1Form.controls.phoneNumber.errors?.required">Cep telefonu numarası giriniz!</div>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-sm-2">

                                                            </div>
                                                            <div class="col-sm-10" style="font-size: 10px">
                                                                <div class="alert alert-warning" role="alert">Kişisel verilerin işlenmesi ve Aktarılmasına ilişkin
                                                                    <a class="btn-info btn-outline-info waves-effect md-trigger" (click)="openContractText('step1ContractText')">Aydınlatma Metni</a> 'ni Görüntülemek İçin Tıklayınız.(Onaylanmadan önce görüntülemeniz
                                                                    gerekmektedir.)
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-sm-2">

                                                            </div>
                                                            <div class="col-sm-10" style="text-align: left !important;">
                                                                <ui-switch id="contratCheckBox" name="contratCheckBox" [(ngModel)]="contratCheckBox" class="js-single" color="#4680ff" switchColor="#fff" size="medium" formControlName="contratCheckBox" [disabled]="!isContractRead"></ui-switch>
                                                                <div class="messages text-danger" *ngIf="!contratCheckBox">Aydınlatma Metni'ni Okuyarak Onaylayınız!</div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </fieldset>

                                            </wizard-step>

                                            <wizard-step [title]="'Kredi Talebi'" [showNext]="step2.showNext" [showPrev]="step2.showPrev" [previousValue]="previousValueStep" [nextValue]="doneValueStep" (onNext)="onStep2Next($event)">
                                                <fieldset class="wizard-fielset">
                                                    <img class="logo" src="assets/images/users_2.png" alt="logo.png">
                                                    <h2 class="fs-title">Kredi Talebi</h2>
                                                    <h3 class="fs-subtitle">Aşağıdak Bilgileri Doldurunuz</h3>

                                                    <div class="card-block">
                                                        <div class="j-wrapper j-wrapper-640">
                                                            <form [formGroup]="step2Form" class="j-pro" id="j-pro" novalidate>
                                                                <!-- start identity-->
                                                                <div class="j-content">
                                                                    <!-- start header -->
                                                                    <div class="j-unit">
                                                                        <label style="font-family: bold; font-size: 20px">KİMLİK BİLGİLERİ</label>
                                                                    </div>
                                                                    <!-- end header -->
                                                                    <div class="j-divider j-gap-bottom-25"></div>
                                                                    <!-- start name lastname -->
                                                                    <div class="j-row">
                                                                        <div class="j-span6 j-unit">
                                                                            <label class="j-label">Adı</label>
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="email">
                                                                                    <i class="icofont icofont-ui-user"></i>
                                                                                </label>
                                                                                <input type="text" id="userName" name="userName" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}" [disabled]=" true">
                                                                            </div>
                                                                        </div>
                                                                        <div class="j-span6 j-unit">
                                                                            <label class="j-label">Soyadı</label>
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right" for="phone">
                                                                                    <i class="icofont icofont-ui-user"></i>
                                                                                </label>
                                                                                <input type="text" id="userLastname" name="userLastname" [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true}" [disabled]="true">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- end name lastname -->
                                                                    <!-- start number -->
                                                                    <div class="j-unit">
                                                                        <label class="j-label">T.C. Kimlik Numarası</label>
                                                                        <div class="j-input">
                                                                            <label class="j-icon-right" for="identity">
                                                                                <i class="icofont icofont-barcode"></i>
                                                                            </label>
                                                                            <input type="text" id="userIdentity" name="userIdentity" [(ngModel)]="user.tckn" [ngModelOptions]="{standalone: true}" [disabled]=" true ">
                                                                        </div>
                                                                    </div>
                                                                    <!-- end number -->
                                                                </div>
                                                                <!-- end identity-->

                                                                <!-- start personel-->
                                                                <div class="j-content ">
                                                                    <!-- start header -->
                                                                    <div class="j-unit ">
                                                                        <label style="font-family: bold; font-size: 20px ">KİŞİSEL BİLGİLERİ</label>
                                                                    </div>
                                                                    <!-- end header -->
                                                                    <div class="j-divider j-gap-bottom-25 "></div>
                                                                    <!-- start state of education, job -->
                                                                    <div class="j-row ">
                                                                        <div class="j-span6 j-unit ">
                                                                            <label class="j-label ">Öğrenim Durumu</label>
                                                                            <div class="j-input ">
                                                                                <label class="j-input j-select">
                                                                                    <select name="userCountry" 
                                                                                        formControlName="userCountry">
                                                                                        <option value="-1" selected>Seçiniz</option>
                                                                                        <option *ngFor="let city of cities" [value]="city.cityCode">{{city.cityName}}</option>
                                                                                       <!-- <option value="Austria ">Austria</option>-->
                                                                                    </select>
                                                                                    <i></i>
                                                                                </label>
                                                                                <div class="messages text-danger error label-control" *ngIf="!step2Form.controls.userCountry.valid">İl seçiniz!</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="j-span6 j-unit">
                                                                            <label class="j-label">Meslek</label>
                                                                            <div class="j-input">
                                                                                <label class="j-input j-select">
                                                                                    <select name="userProfession"
                                                                                        formControlName="userProfession">
                                                                                        <option value="-1 " selected>Seçiniz</option>
                                                                                        <option *ngFor="let profession of professions" [value]="profession.professionCode">{{profession.professionDesc}}</option>
                                                                                    </select>
                                                                                    <i></i>
                                                                                </label>
                                                                                <div class="messages text-danger error label-control" *ngIf="!step2Form.controls.userProfession.valid">Meslek seçiniz!</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- end state of education, job -->
                                                                    <!-- start salary -->
                                                                    <div class="j-unit ">
                                                                        <label class="j-label ">Aylık Net Gelir(TL)</label>
                                                                        <div class="j-input ">
                                                                            <label class="j-icon-right " for="salary ">
                                                                                <i class="icofont icofont-download-alt "></i>
                                                                            </label>
                                                                            <input type="text " class="autonumber " formControlName="userSalary" id="userSalary" name="userSalary" [(ngModel)]="userSalary" currencyMask [options]="{ prefix: '', decimal:
                                                                                'true', align: 'left', allowZero: false } ">
                                                                            <div class="messages text-danger error label-control " *ngIf="!step2Form.controls.userSalary.valid ">Aylık net gelirinizi giriniz!</div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- end salary -->
                                                                </div>
                                                                <!-- end personel-->

                                                                <!-- start contract amount, contract expiry-->
                                                                <div class="j-content ">
                                                                    <!-- start header -->
                                                                    <div class="j-unit ">
                                                                        <label style="font-family: bold; font-size: 20px">KREDİ BAŞVURU BİLGİLERİ</label>
                                                                    </div>
                                                                    <!-- end header -->
                                                                    <div class="j-divider j-gap-bottom-25"></div>

                                                                    <!-- start amount expiry -->
                                                                    <div class="j-row ">
                                                                        <div class="j-span6 j-unit">
                                                                            <label class="j-label">Kontrat Tutarı</label>
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right " for="contractAmount">
                                                                                    <i class="icofont icofont icofont-expand-alt"></i>
                                                                                </label>
                                                                                <input type="text " class="autonumber " formControlName="userContractAmount" id="userContractAmount" name="userContractAmount" [(ngModel)]="userContractAmount" currencyMask [options]="{ prefix: '', decimal: 'true', align: 'left', allowZero: false } ">
                                                                                <div class="messages text-danger error label-control" *ngIf="!step2Form.controls.userContractAmount.valid">Kredi tutarını giriniz!</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="j-span6 j-unit">
                                                                            <label class="j-label">Kontrat Vadesi(Ay)</label>
                                                                            <div class="j-input">
                                                                                <label class="j-icon-right " for="contractExpiry">
                                                                                    <i class="icofont icofont icofont-expand-alt"></i>
                                                                                </label>
                                                                                <input type="text " class="autonumber" formControlName="userContractExpiry" id="userContractExpiry" name="userContractExpiry" [(ngModel)]="userContractExpiry" currencyMask [options]="{ prefix: '', decimal: 'true', align: 'left', allowZero: false } ">
                                                                                <div class="messages text-danger error label-control" *ngIf="!step2Form.controls.userContractExpiry.valid">Kontrat vadesi giriniz!</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- end amount expiry -->
                                                                </div>
                                                                <!-- end contract amount, contract expiry-->
                                                            </form>

                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </wizard-step>

                                            <wizard-step [title]=" 'Sonuç' " [showPrev]="step2.showPrev " (onComplete)="onComplete($event) ">
                                                <fieldset class="wizard-fielset ">
                                                    <img class="logo " src="assets/images/users_2.png " alt="logo.png ">
                                                    <h2 class="fs-title ">Sonuç</h2>
                                                    <h3 class="fs-subtitle ">Başvurunuz başarılı bir şekilde alınmıştır!</h3>
                                                </fieldset>
                                            </wizard-step>
                                        </form-wizard>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-modal-animation [modalID]=" 'step1ContractText' " [modalClass]=" 'md-effect-12' ">
            <h3>Aydınlatma Metni</h3>
            <div>
                <p>XXX-XXX-YYY:</p>
                <ul>
                    <li><strong>XXX: </strong>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</li>
                    <li><strong>ZZZ: </strong> zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</li>
                    <li><strong>TTT:  </strong> tttttttttttttt.</li>
                </ul>
                <button (click)="closeContractText($event,true) " class="btn btn-danger md-close ">Okudum</button>
            </div>
            <button (click)="closeContractText($event,false) " aria-label="Close " class="md-close-btn "><i class="icofont icofont-ui-close "></i></button>
        </app-modal-animation>

    </div>
</div>

<ng2-toasty [position]="position "></ng2-toasty>
<simple-notifications [options]="options "></simple-notifications>